<div *ngIf="course as result else loading">
    <p>{{result.description}}</p>
</div>
<ng-template #loading>
    <p>Condition is false ...</p>
</ng-template>

<div *ngIf="things.car; else noCar; let car">
    Nice {{ cars }}!
</div>
<ng-template #noCar>
    Call a Uber.
</ng-template>

<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Enter Your Details Here
            </div>
            <div class="panel-body">
                <form #employeeform="ngForm" (ngSubmit)="saveemployee(employeeform)">
                    <div class="form-group" *ngIf="success(bad)">
                        <label for="fullname">Full Name *</label>
                        <input id="fullname" name="fname" [(ngModel)]="fname" class="form-control" type="text">

                    </div>
                    <div class="form-group">
                        <label for="emailid">Email</label>
                        <input id="emailid" name="email" [(ngModel)]="email" class="form-control" type="text">

                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number *</label>
                        <input type="text" id="phone" name="phone" [(ngModel)]="phone" class="form-control">

                    </div>

                    <div class="form-group">
                        <label for="datepicker">Date Picker</label>
                        <input type="text" id="datepicker" [bsValue]="bsValue" name="datepicker" bsDatepicker [(ngModel)]="datepicker" class="form-control">

                    </div>

                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="form-control">

                            <label class="radio-inline">
                            
                            <input  type="radio" [(ngModel)]="gender" value="male" name="gender" checked>Male</label>

                            <label class="radio-inline">
                            
                                <input type="radio"  [(ngModel)]="gender" value="female"  name="gender">Female</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="gender">Checkbox</label>
                        <div class="form-control">

                            <label for="isactive" class="checkbox-inline">
                            
                            <input class="" type="checkbox" [(ngModel)]="isactive" name="isactive">isActive</label>


                        </div>

                    </div>
                    <!-- <div class="form-group">
                        <label for="depart">Department</label>
                        <div class="form-control">



                            <select id="depart" [(ngModel)]="department" name="department">
                              <option  *ngFor="let x of department" [value]="x.id">{{x.name}}</option>
                            
                            </select>


                        </div>

                    </div> -->





                    <button id="submit" type="submit" class="btn btn-primary center">Submit</button>

                </form>


                {{employeeform.value | json}}
            </div>
        </div>
    </div>
</div>